footer {
  .logo {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
    padding: 15px 0;
  }
  .lorem{
    padding: 15px 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .social {
    text-align: center;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      font-size: 24pt;
      padding: 0px;

      .icon-facebook-circled {
        color: #49659f !important;
      }
      .icon-twitter-circled {
        color: #1da1f2 !important;
      }
      .icon-linkedin-circled {
        color: #0077b5 !important;
      }

    }
  }
}