.header-library{
  background-color: transparent;
  -webkit-transition: background-color 350ms linear;
  -ms-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  transition: 350ms;
  ul{
    li{
      a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 12pt;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        -webkit-transition: color 350ms linear;
        -ms-transition: color 350ms linear;
        transition: color 350ms linear;
      }
    }
  }
  &.white{
    background-color: white;
    ul{
      li{
        a{
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-size: 12pt;
          text-shadow: none;
        }
      }
    }
  }
}