.t-a-r{
  text-align: right;
}
.t-a-l{
  text-align: left;
}
.hero-banner {
  position: relative;
  min-height: 100vh;
  .hero-item {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin-bottom: 30px;
    .container-text{
      padding: 20% 50px;
      .text{
        border: solid white 1px;
        padding: 20px;
        color: white;
        font-weight: 300;
        h1{
          font-size: 40pt;
          margin: 15px 0;
          text-transform: uppercase;
          font-weight: 300;
        }
        .sample-text{
          font-size: 14pt;
          font-weight: 300;
        }
      }
    }

    &.one {
      background-image: linear-gradient(to right, rgba(0, 201, 255, 0.3), rgba(146, 254, 157, 0.3)), url(https://az616578.vo.msecnd.net/files/responsive/cover/main/desktop/2017/01/18/636203711138888501554276018_d5cbc854-0b09-445c-8466-b5db0014bdf6.jpg);
    }
    &.two {
      background-image: linear-gradient(to bottom, rgba(229, 45, 39, 0.1), rgba(0, 0, 0, 0.7)), url(http://img09.deviantart.net/b110/i/2013/167/0/d/1984_book_cover_concept_by_celinah006-d69d0c9.jpg);
    }
    &.three {
      background-image: linear-gradient(to right, rgba(255, 179, 71, 0.1), rgba(255, 204, 51, 0.3)), url(http://3.bp.blogspot.com/-TIh6Vty1WyU/T8JRp2tivwI/AAAAAAAAAGI/Da10edH_-wg/s1600/DSC_0023.JPG);
    }
  }
  .go-next {
    position: absolute;
    bottom: 45px;
    z-index: 3;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    img {
      width: 30px;
    }
  }
}
.fadein{
  animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -webkit-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -ms-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -o-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -moz-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
}
@keyframes fadeIn {
  0%{transform:translate(0, 40px);-webkit-transform:translate(0, 40px);opacity:0;}
  100%{transform:translate(0, 0);-webkit-transform:translate(0, 0);opacity:1;}
}
@-webkit-keyframes fadeIn {
  0%{transform:translate(0, 40px);-webkit-transform:translate(0, 40px);opacity:0;}
  100%{transform:translate(0, 0);-webkit-transform:translate(0, 0);opacity:1;}
}
@-moz-keyframes fadeIn {
  0%{transform:translate(0, 40px);-webkit-transform:translate(0, 40px);opacity:0;}
  100%{transform:translate(0, 0);-webkit-transform:translate(0, 0);opacity:1;}
}



@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-atention {
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.featured{
  margin-bottom: 40px;
  .item-featured{
    margin-bottom: 10px;
    .thumb{
      background-image: linear-gradient(rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0.53)), url("http://lorempixel.com/770/770/");
      background-position-x: center;
      background-position-y: center;
      background-size: cover;
      background-repeat-x: no-repeat;
      background-repeat-y: no-repeat;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-top: 64%;
      border-radius: 0;
    }
    .info-container{
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      margin-top: -10px;
      padding: 15px;
      .title{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11pt;
      }
      p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 10pt;
        color: #757575;
      }
    }
  }
}

.main-content{
  margin-bottom: 40px;
  .img-support{
    width: 100%;
  }
}